<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>play with css border</title>
  <link rel="stylesheet" href="main.css">
</head>
<body>
<h1>play with css border</h1>
<div id="app">
  <div class="main f-cb">
    <div class="box f-fl" :class="animate" :style="style">
    </div>
    <ul class="tool f-fl f-cbli">
      <li>
        <label>size</label>
        <input type="range" v-model="size"> 
        <input type="color" v-model="backgroundColor">
      </li>    
      <li>
        <label>top</label>
        <input type="range" v-model="border.top.width">   
        <input type="color" v-model="border.top.color">    
      </li>
      <li>
        <label>right</label>
        <input type="range" v-model="border.right.width">      
        <input type="color" v-model="border.right.color">      
      </li>
      <li>
        <label>bottom</label>
        <input type="range" v-model="border.bottom.width">
        <input type="color" v-model="border.bottom.color">       
      </li>
      <li>
        <label>left</label>
        <input type="range" v-model="border.left.width"> 
        <input type="color" v-model="border.left.color">      
      </li>            
    </ul>    
  </div>
  <div style="margin-top:10px;">
    <button @click="tri('normal')">初始</button>
    <button @click="tri('left')">左三角</button>
    <button @click="tri('right')">右三角</button>
    <button @click="tri('top')">上三角</button>
    <button @click="tri('bottom')">下三角</button>
    <button @click="tri('square')">四色方块</button>
  </div>
</div>

<!-- fork me on github -->
<a href="https://github.com/yangjunjun/css-border">
  <img style="position: absolute; top: 0; right: 0; border: 0;" 
  src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" 
  alt="Fork me on GitHub" 
  data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png">
</a>
<!-- /fork me on github -->

<script src="https://cdn.jsdelivr.net/npm/vue@1.0.28/dist/vue.min.js"></script>   
<script src="main.js"></script>   
</body>
</html>
